<div class="modal-overlay" id="remover_id">
    <div class="modal-container">
      <button class="close-button" (click)="fecharModal()">X</button>
      <!-- Aqui vão as informações do usuário -->
      <h2>Informações {{usuario?.nome}}</h2>
      <p>Nome: {{ usuario?.nome }}</p>
      <p>Email: {{ usuario?.email }}</p>
      <p>Cargo: {{ usuario?.cargo }}</p>
      <p>setor: {{ usuario?.setor }}</p>
      <p>Plano Dental: {{ usuario?.planoDental }}</p>
      <p>Plano Saúde: {{ usuario?.planoSaude}}</p>
      </div>
  </div>
  