<nav class="sidemenu">
    <ul>
        <li>  
        <img src="../../../assets/logo (1).png" alt="" width="40px">
        <span class="logo"> CRUD USUÁRIOS</span>
    </li>
<li routerLink="/home"><mat-icon> home</mat-icon>Home</li>
<li routerLink="/crud"><mat-icon> person_add</mat-icon>Cadastrar Usuários</li>

<a href="https://firebase.google.com/docs?gad_source=1&gclid=CjwKCAjwoa2xBhACEiwA1sb1BBdXazW6qCl2OjpQo4JoHFHLRvBJj_55RvPb-gy2EV_YchUWGgrUyhoCIWcQAvD_BwE&gclsrc=aw.ds&hl=pt-br" target="_blank">
    
    <li><mat-icon> local_fire_department</mat-icon>Firebase</li>
</a>
<a href="https://material.angular.io/components/categories" target="_blank">
   <li><mat-icon> description</mat-icon> Angular </li>
   </a>
   <li class="logout"> 
    <button (click)="logout()">
     <mat-icon>logout</mat-icon>Sair
   </button>
 </li>

  
    </ul>

</nav>